{% extends "welcome/base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'accounts/css/style.css' %}" rel="stylesheet">
  <!-- Masthead -->
  <header class=" masthead header-foodsearch color" style="background-image: url({{ article.url_picture }});">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 text-center">
            <h4 class="text-white font-weight-bold center">{{ article.name }}</h4>
        </div>
      </div>
    </div>
  </header>


    <div class= "container h-30 margin-top">
      <div class = "row">
        <div class="col-6">
          <h4 class="font-weight-bold margin-text">Nutriscore</h4>
            {% if article.nutriscore == 'a' %}
              <img class="" src="{% static 'food/img/nutriscores/a.jpg' %}">
            {% elif article.nutriscore == 'b' %}
              <img class="" src="{% static 'food/img/nutriscores/b.jpg' %}">
            {% elif article.nutriscore == 'c' %}
              <img class="" src="{% static 'food/img/nutriscores/c.jpg' %}">
            {% elif article.nutriscore == 'd' %}
              <img class="" src="{% static 'food/img/nutriscores/d.jpg' %}">
            {% elif article.nutriscore == 'e' %}
              <img class="" src="{% static 'food/img/nutriscores/e.jpg' %}">
            {% endif %}
        </div>
          <div class="col-6">
            <h4 class="font-weight-bold">Répères nutritionnels pour 100g</h4>
            <ul>
                <li> {{ article.fat_100g }}g Matières grasses/Lipides </li>
                <li> {{ article.saturated_fat_100g }} g Acides gras saturés </li>
                <li> {{ article.sugars_100g }}g Sucres </li>
                <li> {{ article.salt_100g }}g Sel </li>
              </ul>
          </div>
      </div>
    </div>

    <div class= "row">
      <div class= "col-12 center margin-bottom">
          <a href="{{ article.url }}">Voir la fiche d'OpenFoodFacts</a>
      </div>
  </div>

{% endblock %}