{% extends "welcome/base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'accounts/css/style.css' %}" rel="stylesheet">
  <!-- Masthead -->
  <header class=" masthead header-foodsearch color" style="background-image: url({{ image }});">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 text-center">
            <h4 class="text-white font-weight-bold center">{{ food_search }} </h4>
        </div>
      </div>
    </div>
  </header>

  <h3 class="text-black font-weight-bold center"> Vous pouvez remplacer cet aliment par :</h3>
  <div class="row justify-content">
  <div class="col-lg-10 mx-auto row align-items-center card-body ">
      {% for article in articles_found %}
          <div class="mx-auto article col-lg-4 col-sm-12 text-black center-content margin-top">
              <a href={% url 'food:food_detail' food_id=article.id %} ><img class= "article-img align-items-center mx-auto" src="{{ article.url_picture }}"></a></br>
              <p class="article-name center"> {{ article.name }} </p>
              <p class="article-nutriscore top-right"> {{ article.nutriscore }} </p>
              {% if user.is_authenticated %}
              <div class="save_func">
                <form class="center">
                  {% csrf_token %}
                  <input type="hidden" name="food_id" value="{{ article.pk }}">
                  <button class="btn btn-primary save_food" data-food-id="{{ article.pk }}">
                    <i class="far fa-save"></i> Sauvegarder
                  </button>
                </form>
              </div>
              {% endif %}
          </div>
      {% endfor %}
        </div>
      </div>

  <div class="pagination text-black">
    <span class="step-links">
      {% if articles_found.has_previous %}
        <a href="?search={{ query }}&page=1">&laquo; Première page</a>
        <a href="?search={{ query }}&page={{ articles_found.previous_page_number }}">Page précédente</a>
      {% endif %}

      <span class="current">
        Page {{ articles_found.number }} of {{ articles_found.paginator.num_pages }}.
      </span>

      {% if articles_found.has_next %}
            <a href="?search={{ query }}&page={{ articles_found.next_page_number }}">Page suivante</a>
            <a href="?search={{ query }}&page={{ articles_found.paginator.num_pages }}">Dernière &raquo;</a>
        {% endif %}

    </span>
  </div>

  <script src="{% static 'food/js/ajax_post.js' %}"></script>
  <script src="{% static 'food/js/save.js' %}"></script>

{% endblock %}